{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block page_content %}
    <h1>Changer mon mot de passe</h1>

    {{ include('change_password/_form.html.twig') }}
{% endblock %}
